#root {
  min-height: 100vh;
}

html {
  height: 100%;
  margin: 0; 
}

body {
  min-height: 100vh; 
  margin: 0;

  /* IE 10+ and Firefox remove scroll bar */
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

body::-webkit-scrollbar { 
  /* Safari and chrom remove scroll bar*/
  display: none; 
}
